@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@500&display=swap');

body {
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    width: 60px;
    margin: 10px;
}

header h2 {
    color: white;
    font-family: 'Nunito', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    
}

nav ul li {
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover{
    background-color:#e03d3d ;
}

header {
    background-color:#a80808;
}
.carousel{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slide{
    width:580px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
    display: flex;
    
}

.slides{
    width:10120px;
    display: flex;
    
}

.image img{
    width: 580px;
    height:400px;
}

#atual{
    
    transition: all 1.2s;
}
.btn {
    position: absolute;
    color: red;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
    font-weight: 900;
}

.btn:hover{
    transform: scale(1.5);
}
#voltar{
    top: 28%;
    left: 3%;
}

#next{
    top: 28%;
    right: 3%;
}
.balls{
    position:absolute;
    width:580px ;
    display: flex;
    justify-content: center;
    top: 58%;
    
}

.balls div{
    transition: all 0.5s;
    border: 3px solid #fff;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.balls div:hover{
    background-color: #fff;
}

.imgAtual{
    background-color: white;
    transition: all 0.5s;
}

.posts {
    margin: 30px;
}

.post {
    display: flex;
    align-items: center;
}


.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.texto h3{
    margin: 0;
}

.texto h5{
    margin: 10px 0 0 0 ;
    
}


.post .post-image {
    width: 100px;
    height: 100px;
    background-image: url('/img/ChinaSumiu.png');
    background-size: cover;
    overflow: hidden;
    
}